#list td {
    padding: 0;
}
#list td p {
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin: 0;
    padding-left: 8px;
}
#filter input[type=radio] {
    display: none;
}
#filter input[type=radio]:checked+span {
    background: #89de6c;
}
.limit {
    width: 5ex;
    color: gray;
}
.right {
    text-align: right;
}
.picked {
    text-align: center;
    font-size: 120%;
}
.gap {
    height: 2em;
}
.range-markup {
    border-collapse: collapse;
    width: 100%;
}
.borderless td {
    border: none!important;
}
